# === Python ===
__pycache__/
*.py[cod]
venv/
.venv/
.env

# === IDE Files ===
.idea/
.vscode/
*.iml

# === Ignore generated or vendor files ===
static/assets/webfonts/
static/assets/libs/
static/assets/js/*.min.js
static/assets/css/*.min.css

# === Exceptions ===
!static/images/*
!static/assets/images/*
