{% extends 'base.html' %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Search for a Movie</h1>

        <form action="{{ url_for('add') }}" method="POST" novalidate class="container mt-4">
            {{ form.csrf_token }}
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-end">{{ form.title.label }} </label>
                    <div class="col-sm-9">
                        {{ form.title(class="form-control") }}
                        {% for err in form.title.errors %}
                            <div class="form-text text-danger">{{ err }}</div>
                        {% endfor %}
                    </div>
                </div>
            <div class="text-center">
                {{ form.submit(class="btn btn-primary") }}
            </div>

        </form>

</div>
{% endblock %}