{% extends 'base.html' %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Add a Movie</h1>

        <form action="{{ url_for('add') }}" method="POST" novalidate>
            {{ form.csrf_token }}
            {% for field in headers %}
              <p>
                {{ form[field].label }} {{ form[field](size=30) }}
                {% for err in form[field].errors %}
                <span style="color:orangered"> {{ err }} </span>
                {% endfor %}
              </p>
            {% endfor %}
            {{ form.submit }}
        </form>

        {% if book_added %}
        <p style="color: #008000;">Your entry has been successfully added!</p>
        {% endif %}
</div>
{% endblock %}